* {
font-family: raleway;
font-size: 1.3em;
color: black;
display: center;
}

.container {
    display:flex;
    height: auto;
    
       
}

.main {
    background-color: white;
    width:75%;
    margin-left: 4%;
}


.name {
    font-size: 5.5rem;
    font-weight: 450;
    margin-top: 6rem;
    margin-bottom: 1rem;

}
span {
    color: rgb(243, 210, 101);
     
}

.title {
    font-size: 3.5rem;
    font-weight: 350;
    margin-bottom: 8rem;
}

flex-container {
    display: flex;
}

.main_header {

}






/* side bar */ 

.side {
    background-color: rgb(243, 210, 101);
    border: none;
    border-right-color: black;
    width: 25%;


}


#image {
    display: block;
    margin: 20px auto;
    border-radius: 35%;
    margin-top: 10%;

}


li {
    font-size: .5em;
    padding: 2%;
}
.sidebar_list {
    font-size: .8em;
    font-weight: 200;
    padding: 10%;
    list-style-type: none;
}

.aboutme {
    font-size: .5em;
    font-weight: 200;
    padding: 10%;
    
}

.sidebar_header {
    color: rgb(243, 210, 101);
    background-color: black;
    text-align: center;
    font-size: 2rem;
   
}

.hobby {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}


