* {
font-family: raleway;
font-size: 1.3em;
color: black;
display: center;
}

.container {
    display:flex;
    
       
}

.main {
    background-color: rgb(235, 230, 230);
    width:80%;
}

.side {
    background-color: rgb(243, 210, 101);
    border: none;
    border-right-color: black;
    width: 30%;


}

.side_article {
    margin: auto;

}



#image {
    display: block;
    margin: 20px auto;
    border-radius: 35%;
    
    

}


    

li {
    font-size: .5em;
    padding: 2%;
}
.sidebar_list {
    font-size: .8em;
    font-weight: 200;
    padding: 10%;
    list-style-type: none;
}

.aboutme {
    font-size: .5em;
    font-weight: 200;
    padding: 10%;
    
}

.sidebar_header {
    color: rgb(243, 210, 101);
    background-color: black;
   
    font-size: 2rem;
   
}

.hobby {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}


