* {
font-family: raleway;
font-size: 1.3em;
color: black;
display: center;
}
.hobby {
    display: flex;
    flex-direction: flex-row;
    justify-content: space-around;
    
}

.fas fa-address-book{
    background-color: white;
}

#image {
    height: 300px;
    width: 300px;
    padding: 0 20px;
}

.main {
    background-color: rgb(204, 200, 200);
    
}

.side {
    background-color: rgb(218, 170, 15);
    border: 10px solid rgb(218, 170, 15);
    border-right-color: black;
    width: 600px;
    

}

li {
    font-size: 1em;
}
.sidebar_list{
    font-size: 1em;
    font-weight: 200;
    padding: 10px 50px
}

.sidebar_header {
    color: whitesmoke;
    background-color: black;
    display: center;
}

.container {
    display:flex;
       
}

.hobbies{
    
    background-color: black;
}
#HeadingText{
    display:inline-block;
    background-color:yellow;
}
